body {
  background-color: #eee3ff;
  height: 95vh;
}

/*! COMMON CLASSES */

.font-clr {
  font-weight: 500px;
  color: #4b00a2;
}

a:hover {
  cursor: pointer;
  color: #4b00a2;
}

/*?___________________________________________Navbar__________________________________________________________________________*/
.cart-icon {
  background-color: #4b00a2;
}

.nav-btn {
  border: #E6DBF3;
  background-color: #4b00a2;
}

.nav-btn:hover {
  background-color: #4b00a2;
}

/*?________________________________________________________Sign Up____________________________________________________________*/

.signUp-parent {
  height: 100vh;
}

.signUp-child1 {
  height: 70vh;
  position: relative;
  top: 100px;
}

.signUp-text {
  font-family: 'Dancing Script', cursive;
  font-size: xx-large;
  color: #4b00a2;
}

.loginRole-text {
  color: #4b00a2;
  font-weight: 700;
}

.col1 {
  border: 5px solid #4b00a2;
  height: 80vh;
  background-image: url("https://www.pngarts.com/files/16/E-Commerce-PNG-Image.png");
  background-size: 78%;
  background-repeat: no-repeat;
  background-position: center;
}

.col2 {
  border: 5px solid #4b00a2;
  height: 80vh;
}

@media (max-width: 755px) {
  .col1 {
    height: 82vh;
  }

  .col2 {
    height: 82vh;
  }
}

@media (max-width: 280px) {
  .col1 {
    height: 80vh;
  }

  .col2 {
    height: 80vh;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Anek+Bangla&family=Dancing+Script:wght@700&family=Grape+Nuts&family=Licorice&family=Open+Sans:wght@800&family=Pacifico&family=Poppins:wght@800&family=Roboto:wght@900&display=swap');

.Add-user {
  color: #4b00a2;
  font-family: 'Dancing Script', cursive;
}

.img {
  object-fit: cover;
}

.forgot-password {
  font-weight: 600;
  color: blue;
}

.forgot-password:hover {
  color: blue;
  text-decoration: underline;
}

/*?________________________________________________________SignIn Pages____________________________________________________________*/

.login-parent{
  height: 100vh;
}

@import url('https://fonts.googleapis.com/css2?family=Anek+Bangla&family=Dancing+Script:wght@700&family=Grape+Nuts&family=Licorice&family=Open+Sans:wght@800&family=Pacifico&family=Poppins:wght@800&family=Roboto:wght@900&display=swap');

.login-card{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border: 5px solid #4b00a2;
  border-radius: 10px;
  font-family: 'Dancing Script', cursive;
  color: #4b00a2;
  background-color: #fee2f8;
  background-image: linear-gradient(315deg, #fee2f8 0%, #dcf8ef 74%);
}

@media (max-width: 575px) {
  .col1 {
    height: 80vh;
  }

  .col2 {
    height: 80vh;
  }
}