body {
  background-color: #eee3ff;
  height: 95vh;
}

/*! COMMON CLASSES */

.font-clr {
  font-weight: 500px;
  color: #4b00a2;
}

a:hover {
  cursor: pointer;
  color: #4b00a2;
}

/*?___________________________________________Navbar__________________________________________________________________________*/
.cart-icon {
  background-color: #4b00a2;
}

.nav-btn {
  border: #E6DBF3;
  background-color: #4b00a2;
}

.nav-btn:hover {
  background-color: #4b00a2;
}

/*?________________________________________________________Sign Up____________________________________________________________*/

.signUp{
  height: 100vh;
}

.signUp-col{
  height: 85vh;
  border-radius: 15px;
  border: 4px solid #4b00a2;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.signUp-parent{
  margin-top: 25px;
  display: flex;
  justify-content: center;
  height: 90vh;
}


@media (max-width: 350px) {
.signUp-parent{
  height: 90vh;
}
}

@media (max-width: 290px) {
  .signUp-parent{
    height: 95vh;
  }

}

.Add-user {
  color: #4b00a2;
}


/* 

.signUp-row{
  border: 2px solid #4b00a2;
  border-radius: 30px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.signUp-image{
 border-top-left-radius: 30px;
 border-bottom-left-radius: 30px;
 margin-top: 50px;
 position: relative;
 bottom: 35px;
}

.signUp-btn{
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border: none;
  outline:none;
  height: 50px;
  width: 100%;
  background-color: #4b00a2;
  color: white;
  border-radius: 4px;
  font-weight: bold;
}

.signUp-btn:hover{
  box-shadow: none;
  color: #4b00a2;
   background: #eee3ff;
   border: 1px solid #4b00a2;
}

.signUp-img-parent{
  position: relative;
  left: 120px;
}

.vendorLogin-font{
  color: #4b00a2;
  font-weight: 600;
}

.SignIn-font{
  color: #4b00a2;
  font-weight: 600;
}
 */

/*?________________________________________________________SignIn Pages____________________________________________________________*/

.signIn-row{
  border: 2px solid #4b00a2;
  border-radius: 30px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  position: relative;
  top: 100px;
}

.signIn-image{
 border-top-left-radius: 30px;
 border-bottom-left-radius: 30px;
 margin-top: 50px;
}

.signIn-btn{
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border: none;
  outline:none;
  height: 50px;
  width: 100%;
  background-color: #4b00a2;
  color: white;
  border-radius: 4px;
  font-weight: bold;
}

.signIn-btn:hover{
  box-shadow: none;
  color: #4b00a2;
   background: #eee3ff;
   border: 1px solid #4b00a2;
}

.signIn-img-parent{
  position: relative;
  left: 75px;
}

.vendorLogin-font{
  color: #4b00a2;
  font-weight: 600;
}

.SignIn-font{
  color: #4b00a2;
  font-weight: 600;
}

.vendorLogIn-font{
  margin-top: 15px;
color: #4b00a2;
font-weight: 600;
}

.forgot-pass-vendor{
  position: relative;
  left: 130px;
}

/*?___________________________________________________Admin Page________________________________________________*/

.user-card{
  height: 105px;
  margin-bottom: 25px;
  background-color: #4b00a2;
}

.content{
  border: 2px solid #4b00a2;

}

.admin-col1{
height: 100vh;
  color: azure;
   background-color: #4b00a2;
}

.admin-col2{
height: 100vh;
}

.table-page{
  height: 100vh;
}

.view-products{
height: 100vh;
}